body {
  background-color: #dddddd;
  margin: 0;
}

.main-container {
  border: 1px solid teal;
  width: 94%;
  margin: auto;
  margin-top: 10px;
}

.add-card-div {
  border: 1px solid yellow;
  text-align: center;
}

.form-container {
  border: 1px solid gray;
  margin: auto;
  border-radius: 5px;
  width: 390px;
  padding: 20px;
  margin-top: 15px;
}

#back,
#front {
  border: 1px solid #ffab73;
  outline: none;
  border-radius: 5px;
  width: 348px;
  height: 80px;
}
/* Header */
header {
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: table;
  font-weight: bold;
  background-color: #113c4a;
  color: #e8e8e8;
}

/* DECK */
#deckContainer {
  margin-top: 10px;
  display: flex;
  border: red solid 1px;
}
.deck {
  float: left;
  height: 100px;
  width: 20%;
  padding: 0 10px;
  margin-top: 10px;
  margin-left: 40px;
  text-align: center;
  color: #394867;
  border: #f4f4f4 solid 1px;
  border-radius: 15px;
  background-color: #fef4e8;
}

.deck:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px #113c4a;
}

/*Cards*/

#cardContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 0px 10px;
  border: blue solid 1px;
}

.card {
  width: 400px;
  height: 250px;
  word-wrap: break-word;
  margin: 10px;
  background: #f3f4ed;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
}
/* Responsiveness*/

@media screen and (max-width: 601px) {
  .deck h3 {
    font-size: 1rem;
  }
  .deck {
    width: 30%;
  }
}
