body {
  background-color: #dfdce3;
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding-bottom: 50px;
}

.main-container {
  width: 94%;
  margin: auto;
  margin-top: 10px;
}

/* Header */

header {
  height: 65px;
  width: 100%;
  text-align: left;
  display: table;
  font-weight: bold;
  background-color: #f4f4f4;
  color: #425664;
  box-shadow: 0 2px 5px #c6ad8f;
}

/* FONTS  */

h1 {
  padding-left: 20px;
  font-size: 2.3rem;
}

h4 {
  margin-top: 100px;
}

.form-container p {
  color: #394867;
  font-weight: bold;
  font-size: 1.1rem;
}

.deck p {
  color: #dfdce3;
  font-weight: bold;
  font-size: 1.1rem;
}

.deck h3 {
  font-size: 1.3rem;
}

.card-front h2 {
  color: #333a56;
  font-size: 1.8rem;
}

.card-back p {
  color: #333a56;
  font-size: 1.6rem;
  margin-top: 90px;
  font-weight: 400;
}

/* Deck Display */

#deckContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 70px;
  padding: 0px 10px;
}

.deck {
  float: left;
  height: 111px;
  width: 20%;
  padding: 0 10px;
  margin-top: 10px;
  margin-right: 36px;
  text-align: center;
  word-wrap: break-word;
  border-radius: 15px;
  color: #dfdce3;
  background-color: #425664;
  box-shadow: 0 2px 7px #394867;
}

.deck:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #333a56;
}

/*Cards Display*/

#cardContainer {
  position: relative;
  perspective: 1300px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  width: 500px;
  height: 350px;
  word-wrap: break-word;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  word-spacing: 1.5px;
  margin-left: 36px;
  margin-bottom: 20px;
  transform-style: preserve-3d;
  transition: transform 1s;
  border-radius: 6px;
  cursor: pointer;
  background-color: #f9f3f3;
}

/* Flip Button */

.flip-btn {
  transform: translateZ(1px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 40px;
  height: 40px;
  background: white;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.7em;
  padding: 0;
  color: #394867;
  border: 1px solid grey;
}

/* Card flip event triggered */
.card.flipping {
  transform: rotateY(180deg);
}

/* Card Front and Card Back */

.card .card-front,
.card .card-back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  background: #f9f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flip button size */
  font-size: 1.4rem;
}

.card-back {
  transform: rotateY(180deg);
  background: #f9f3f3;
  align-items: center;
  justify-content: center;
  /* flip button size */
  font-size: 1.4rem;
}

/* Card Form */

.add-card-div {
  text-align: center;
}

.form-container {
  border: 1px solid gray;
  margin: auto;
  border-radius: 5px;
  width: 390px;
  padding: 20px;
  margin-top: 15px;
  background-color: #425664;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
}

textarea {
  background-color: #2d3841;
  color: #fff;
  font-size: 1.3rem;
}

.add-card-btn,
.view-decks-btn,
input[type="submit"] {
  background-color: #c6ad8f;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  height: 35px;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  margin: 5px;
}

/* card form textarea */
#back,
#front {
  border: 1px solid #c6ad8f;
  outline: none;
  border-radius: 5px;
  width: 348px;
  height: 80px;
}

/* Card Edit & Delete Buttons */

.edit-btn,
.delete-btn {
  background: #edeef7;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
  float: right;
  margin-top: 10px;
  /* to make sure buttons stay in front and dont flip */
  transform: translateZ(1px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* Edit Card Form */

#card-edit-form {
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 70px;
}

#card-edit-form textarea {
  background-color: #fff;
  color: #394867;
  border: 1px solid #c6ad8f;
  outline: none;
  border-radius: 5px;
  width: 348px;
  height: 80px;
  font-size: 1.3rem;
}

/* Responsiveness*/

@media screen and (max-width: 680px) {
  .deck {
    margin-left: 10px;
    width: fit-content;
  }
  .form-container {
    width: 80%;
  }
}
