body {
  background-color: #9ba4b4;
}

/* #container {
 
} */
/* Header */
header {
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  text-align: center;
  font-weight: bold;
  background-color: #394867;
  color: #e8e8e8;
}

/* DECK */
.deck {
  float: left;
  height: 100px;
  width: 20%;
  padding: 0 10px;
  margin-top: 200px;
  margin-left: 25px;
  text-align: center;
  color: #394867;
  border: #f1f1f1 solid 1px;
  border-radius: 15px;
  background-color: #e8e8e8;
}

/*Cards*/

.card {
  margin-top: 200px;
  margin-left: 25px;
  text-align: center;
}

/* Responsiveness*/

@media screen and (max-width: 601px) {
  .deck h3 {
    font-size: 1rem;
  }
  .deck {
    width: 30%;
  }
}
